
  <td class="list_item">
  {{#if completed}}
  <input type="checkbox" name="item_{{id}}" id="item_{{id}}" checked/>
  {{else}}
  <input type="checkbox" name="item_{{id}}" id="item_{{id}}"/>
  {{/if}}
  <label for="item_{{id}}">{{title}} - {{due_date}}</label></td>
  <td class="delete"><img src="images/trash.png" alt="Delete"/></td>
